# Ignore Bootsnap cache
/tmp/cache/bootsnap/

# Ignore Sprockets cache
/tmp/cache/assets/sprockets/
/config/master.key

log/development.log
log/

config/master.key
.env

storage
/app/assets/builds/*
!/app/assets/builds/.keep
