<%= render "layouts/sidemenu"%>

<div class = "chatroom_index_title">
  チャットルームを選択
</div>

<div class="index_chatroom_box">
  <% @chatrooms.each do |chatroom|%>
    <%= render "chatroom_info_box", chatroom: chatroom %>
  <% end %>
</div>