<h1>Tops#index</h1>
<p>Find me in app/views/tops/index.html.erb</p>

<% @boards.each do |board|%>
  <%= board.user.name %>
  <%= board.playstyle %>
  <%= board.number_of_people %>
  <%= board.playtime %>
<% end %>