<%= render "layouts/sidemenu"%>
<% breadcrumb :boards_new %>
<%= render 'layouts/breadcrumbs' %>
<div class = "inline-block text-5xl mt-4 ml-7 pl-2 pr-48 bg-gray-200 leading-normal">
  新規募集作成
</div>
<div class = "inline-block mt-3 ml-10">
<%= render 'form' %>
</div>
<%= link_to 'Back', boards_path %>
inline-block text-5xl mt-5 ml-7 pl-2 pr-48 bg-gray-200 leading-normal