* {
   margin: 0;
   padding: 0;
 }
 
 .header_body {
   display: flex;
   align-items: center;
   width: 100vw;
   height: 100px;
   background-color: black;
   padding: 0 20px;
   position: relative;
 }
 
 .left_icons {
   display: flex;
   gap: 20px;
   flex: 0 0 auto;
 }
 
 .setup_icon_box,
 .bell_icon_box,
 .chat_icon_box {
   flex: 0 0 auto;
 }
 
 .GameFriend_box {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
 }
 
 .login_box {
   flex: 0 0 auto;
   margin-left: auto;
   margin-right: 20px;
 }
 
 .GameFriend {
   color: aliceblue;
   font-size: 50px;
 }
 
 .login {
   color: aliceblue;
   font-size: 25px;
 }
 
 /* bootstrapアイコン */
 .bi-gear-wide,
 .bi-bell,
 .bi-chat-left-text {
   font-size: 70px;
   color: aliceblue;
 }

 /* サイドメニューレイアウト*/
 .sidemenu {
  float: left;
  background-color: #f8f9fa;
  padding: 10px;
  border-right: 1px solid #dee2e6;
  height: 100vh; /* ビューポートの高さに合わせる */
  width: 15vh;
}

.sidemenu a {
  display: block;
  padding: 10px 0;
  color: #333;
  text-decoration: none;
}

.sidemenu a:hover {
  background-color: #e9ecef;
}

/* ユーザーアイコンのレイアウト*/

.user-icon {
  width: 150px; /* 画像の幅を指定 */
  height: 150px; /* 画像の高さを指定 */
  object-fit: cover; /* 画像を切り取るようにフィット */
}

.user_icon_box{
  float: left;
}
.profile_text_box{
  float: left;
}

/* 募集版作成レイアウト*/
.boards_new_title {
  display: inline-block;
  font-size: 50px;
  margin-top: 20px;
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 200px;
  background-color: rgb(226, 226, 226);
}

/* 募集フォームレイアウト*/
.form_container{
  display: inline-block;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 0px;
  background-color: rgb(226, 226, 226);
}

.custom-input {
  font-size: 80%;
  width: 300px;
  height: 35px;
}
.field {
  display: flex;
  align-items: flex-start;
  padding:5px 0px;
}

.field label {
  margin-right: 10px; /* ラベルとフィールドの間に少しスペースを追加 */
}

.custom-textarea {
  width: 60%;
  min-height: 100px; /* 必要に応じて高さを調整 */
  box-sizing: border-box; /* パディングとボーダーを含めてサイズを計算 */
  font-size: 70%;
}

.submit_button{
  display: inline-block;
  width: 80px;
  height: 40px;
  font-size: 20px;
  margin-left: 600px;
}

/* ゲームアイコンのレイアウト*/
.game-icon{
  width: 150px; /* 画像の幅を指定 */
  height: 150px; /* 画像の高さを指定 */
  object-fit: cover; /* 画像を切り取るようにフィット */
}