* {
   margin: 0;
   padding: 0;
 }
 
 .header_body {
   display: flex;
   align-items: center;
   width: 100vw;
   height: 100px;
   background-color: black;
   padding: 0 20px;
   position: relative;
 }
 
 .left_icons {
   display: flex;
   gap: 20px;
   flex: 0 0 auto;
 }
 
 .setup_icon_box,
 .bell_icon_box,
 .chat_icon_box {
   flex: 0 0 auto;
 }
 
 .GameFriend_box {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
 }
 
 .login_box {
   flex: 0 0 auto;
   margin-left: auto;
   margin-right: 20px;
 }
 
 .GameFriend {
   color: aliceblue;
   font-size: 50px;
 }
 
 .login {
   color: aliceblue;
   font-size: 25px;
 }
 
 /* bootstrapアイコン */
 .bi-gear-wide,
 .bi-bell,
 .bi-chat-left-text {
   font-size: 70px;
   color: aliceblue;
 }

 /* サイドメニューレイアウト*/
 .sidemenu {
  float: left;
  background-color: #f8f9fa;
  padding: 10px;
  border-right: 1px solid #dee2e6;
  height: 100vh; /* ビューポートの高さに合わせる */
  width: 15vh;
}

.sidemenu a {
  display: block;
  padding: 10px 0;
  color: #333;
  text-decoration: none;
}

.sidemenu a:hover {
  background-color: #e9ecef;
}

/* ユーザーアイコンのレイアウト*/

.user-icon {
  width: 150px; /* 画像の幅を指定 */
  height: 150px; /* 画像の高さを指定 */
  object-fit: cover; /* 画像を切り取るようにフィット */
}

.user_icon_box{
  float: left;
}
.profile_text_box{
  float: left;
}

/* トップページのユーザーアイコンのレイアウト*/
.tops_boards_container{
  display: flex; /* 横並びに配置 */
  overflow-x: auto; /* 水平方向のスクロールを有効にする */
  white-space: nowrap; /* 折り返しを防止 */
}
.tops_user_icon{
  width: 100px; /* 画像の幅を指定 */
  height: 100px; /* 画像の高さを指定 */
  object-fit: cover; /* 画像を切り取るようにフィット */
  border-radius: 15%; /* 画像の角を丸くする */
}

.tops_game_image{
  width: 100px; /* 画像の幅を指定 */
  height: 100px; /* 画像の高さを指定 */
  object-fit: cover; /* 画像を切り取るようにフィット */
  border-radius: 15%; /* 画像の角を丸くする */
}

.tops_user_name{
  font-size: 30px;
  color: #dee2e6;
  margin-left: 5px;
  margin-bottom: 50px;
  overflow: hidden; /* 溢れた部分を隠す */
  text-overflow: ellipsis; /* 溢れた部分を省略記号で表示 */
  white-space: nowrap; /* テキストを1行に収める */
}

.board-link {
  display: block;
  text-decoration: none; /* リンクの下線を消す */
  color: inherit; /* 親要素の色を継承する */
}

.board-link:hover {
  cursor: pointer; /* マウスオーバー時にポインタを表示 */
  background-color: #f0f0f0; /* 任意のホバー効果 */
}
.tops_board_box {
  display: inline-block;
  position: relative; /* 絶対配置の基準 */
  width: 300px; /* 必要に応じて幅を調整 */
  border: 1px solid #ccc; /* デザインのためのボーダー */
  padding: 0px; /* 内側の余白 */
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 10px;
}

.tops_user_info {
  background-color: #181818;
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* 上と下のセクションを分けるためのマージン */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tops_user_icon_box {
  margin-right: 0px; /* アイコンと名前の間にマージン */
}

.tops_game_image_box {
  margin-left: auto; /* ゲームイメージを右に配置 */
}
.realtime_notice {
  position: absolute; /* 絶対配置 */
  top: 85px; /* 調整可能な位置 */
  left: 37%;
  transform: translateX(-0%);
  background-color: #c4c4c4; /* 背景色 */
  color: #000000; /* 文字色 */
  padding: 3px 10px; /* パディング */
  border-radius: 5px; /* 角を丸くする */
  font-size: 15px; /* 文字サイズ */
}

.tops_boards_info {
  display: flex;
  flex-direction: column;
}

.tops_boards_playstyle,
.tops_boards_people {
  margin-bottom: 0px; /* 各情報の間にマージン */
  margin-left: 10px;
  font-size: 20px;
}
.tops_boards_time{
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

/*トップの検索機能のレイアウト*/ 
.tops_search_boards{
  margin-top: 10px;
  background-color: #000000;
  height: fit-content;
}

.tops_left_search_boards{
  float: left;
  width: 15%;
  padding: 10px;
  margin-top:15px;
  margin-left: 5px;
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
}

.tops_search_field {
  margin-bottom: 10px;
}

.tops_search_custom-input, .tops_search_custom-textarea {
  font-size: 100%;
  width:95%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.tops_search_submit_button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.tops_mid_search_box{
  float: left;
  width: 81%;
  margin:15px 15px;
  background-color: #ffffff;
}

.tops_mid_search_boards{
  width: 600px;
  padding: 10px;
  margin-left: 100px;
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
}
.tops_mid_search_submit_button:hover {
  background-color: #0056b3;
}

.tops_mid_search_field {
  width: 500px;
  float: left;
  margin-bottom: 10px;
}

.tops_mid_search_custom-input, .tops_search_custom-textarea {
  font-size: 30px;
  height: 35px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 50px;
}


.tops_mid_search_submit_button {
  font-size: 20px;
  margin-left: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.tops_mid_search_submit_button:hover {
  background-color: #0056b3;
}

.tops_mid_search_boards_container{
 height: 100%;
 width:100%;
}



/* 募集版作成レイアウト*/
.boards_new_title {
  display: inline-block;
  font-size: 50px;
  margin-top: 20px;
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 200px;
  background-color: rgb(226, 226, 226);
}

/* 募集フォームレイアウト*/
.form_container{
  display: inline-block;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 0px;
  background-color: rgb(226, 226, 226);
}

.custom-input {
  font-size: 80%;
  width: 300px;
  height: 35px;
}
.field {
  display: flex;
  align-items: flex-start;
  padding:5px 0px;
}

.field label {
  margin-right: 10px; /* ラベルとフィールドの間に少しスペースを追加 */
}

.custom-textarea {
  width: 60%;
  min-height: 100px; /* 必要に応じて高さを調整 */
  box-sizing: border-box; /* パディングとボーダーを含めてサイズを計算 */
  font-size: 70%;
}

.submit_button{
  display: inline-block;
  width: 80px;
  height: 40px;
  font-size: 20px;
  margin-left: 600px;
}

/* ゲームアイコンのレイアウト*/
.game-icon{
  width: 150px; /* 画像の幅を指定 */
  height: 150px; /* 画像の高さを指定 */
  object-fit: cover; /* 画像を切り取るようにフィット */
}

/*募集一覧のレイアウト*/
.index_openchanger_box{

}
.index_openchanger_true{
  font-size: 20px;
  color: #f4f4f4;
  padding-left: 10px;
  background-color: rgb(252, 189, 65);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.index_openchanger_false{
  color: #f4f4f4;
  font-size: 20px;
  padding-left: 10px;
  background-color: #0008ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 }
.index_user_icon{
  width: 100px; /* 画像の幅を指定 */
  height: 100px; /* 画像の高さを指定 */
  object-fit: cover; /* 画像を切り取るようにフィット */
  border-radius: 15%; /* 画像の角を丸くする */
}

.index_game_image{
  width: 100px; /* 画像の幅を指定 */
  height: 100px; /* 画像の高さを指定 */
  object-fit: cover; /* 画像を切り取るようにフィット */
  border-radius: 15%; /* 画像の角を丸くする */
}

.index_user_name{
  font-size: 30px;
  color: #dee2e6;
  margin-left: 5px;
  margin-bottom: 50px;
  overflow: hidden; /* 溢れた部分を隠す */
  text-overflow: ellipsis; /* 溢れた部分を省略記号で表示 */
  white-space: nowrap; /* テキストを1行に収める */
}

.index_board_link {
  display: block;
  text-decoration: none; /* リンクの下線を消す */
  color: inherit; /* 親要素の色を継承する */
}

.index_board-link:hover {
  cursor: pointer; /* マウスオーバー時にポインタを表示 */
  background-color: #f0f0f0; /* 任意のホバー効果 */
}
.index_board_box {
  display: inline-block;
  position: relative; /* 絶対配置の基準 */
  width: 300px; /* 必要に応じて幅を調整 */
  border: 1px solid #ccc; /* デザインのためのボーダー */
  padding: 0px; /* 内側の余白 */
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 10px;
}

.index_user_info {
  background-color: #181818;
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* 上と下のセクションを分けるためのマージン */

}

.index_user_icon_box {
  margin-right: 0px; /* アイコンと名前の間にマージン */
}

.index_game_image_box {
  margin-left: auto; /* ゲームイメージを右に配置 */
}
.index_realtime_notice {
  position: absolute; /* 絶対配置 */
  top: 85px; /* 調整可能な位置 */
  left: 37%;
  transform: translateX(-0%);
  background-color: #c4c4c4; /* 背景色 */
  color: #000000; /* 文字色 */
  padding: 3px 10px; /* パディング */
  border-radius: 5px; /* 角を丸くする */
  font-size: 15px; /* 文字サイズ */
}

.index_boards_info {
  display: flex;
  flex-direction: column;
}

.index_boards_playstyle,
.index_boards_people {
  margin-bottom: 0px; /* 各情報の間にマージン */
  margin-left: 10px;
  font-size: 20px;
}
.index_boards_time{
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

