<p>パスワードのリセットが申請されました。下記のリンクをクリックしてパスワードを変更してください。</p>

    <p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>
    
    <p>このメールに心当たりがない場合、無視してください。</p>
    <p>パスワード変更はこのリンクにアクセスして、新しいものを登録するまで適用されません。</p>
    
