<%= render "layouts/sidemenu"%>
<div class = "boards_new_title">
  応募状況を確認する募集版を選択
</div>
<div class="index_boards_box">
  <% @boards.each do |board|%>
    <%= render "indexboardrequestbox", board: board %>
  <% end %>
</div>