<%= render "layouts/sidemenu"%>
<% breadcrumb :boards_request %>
<%= render 'layouts/breadcrumbs' %>
<div class = "boards_new_title">
  応募状況を確認する募集版を選択
</div>
<div class="index_boards_box">
  <% if @boards.present? %>
    <% @boards.each do |board|%>
      <%= render "indexboardrequestbox", board: board %>
    <% end %>
  <% else%>
    <%= link_to "募集を作成する",new_board_path, class: 'boards_new_link' %>
  <% end %>
</div>