<div class = "header_body">
  <div class = "GameFriend_box">
  <%= link_to "GameFriend","tops/index", class: "GameFriend" %>
  </div>
  <div class = "login_box">
  <%= link_to "ログイン", "user/login", class: "login" %>
  </div>
</div>